<section id="users-list">

</section>

<script>
  document.addEventListener('DOMContentLoaded', async () => {
    const users = await fetch('/user').then((data) => data.json())
    const section = document.querySelector('#users-list')
    users.forEach(user => { 
      const h1 = document.createElement('h1');
      h1.textContent = `${user.name} - ${user.email}`;
      section.appendChild(h1);
  });
})
  </script>